    <div class="row">
        <div class="col-md-7 hidden-sm">
            <small ng-show="cardsCtrl.currentStatus" class="text-muted">
                {{ cardsCtrl.currentStatus }}
            </small>
        </div>
        <div class="col-md-2 col-sm-6">
            <progress ng-show="cardsCtrl.currentStatus" class="progress progress-striped" value="{{ cardsCtrl.blocks.length }}" max="{{ cardsCtrl.display }}">loaded {{ cardsCtrl.blocks.length }} of {{ cardsCtrl.display }}</progress>
        </div>
        <div class="col-md-3 col-sm-6">
            <form class="pull-right">
                <fieldset class="form-group">
                    <label for="display">Display </label>
                    <select id="display" ng-model="cardsCtrl.display" ng-options="item for item in cardsCtrl.displayOptions" ng-change="cardsCtrl.displayChanged()" ng-disabled="cardsCtrl.currentStatus">
                    </select>
                    items
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="block in cardsCtrl.blocks">
            <div class="card card-block">
                <h4 class="card-title">Block #{{ block.height }}</h4>
                <p class="card-text">
                    <em>#Transactions:</em> {{ block.tx.length }}<br />
                </p>
                <a ng-href="#/block/{{ block.hash }}" class="card-link pull-right">More</a><br/>
                <p class="text-muted text-right">
                    <small><span ng-if="block.poolInfo"><strong><a ng-href="{{ block.poolInfo.url }}">{{ block.poolInfo.poolName }}</a></strong> @</span> {{ block.timestamp | fromNow }}</small>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-10 col-sm-2">
            <a ng-href="#/cards/{{ cardsCtrl.blocks[cardsCtrl.blocks.length - 1].previousblockhash || '' }}">Next {{ cardsCtrl.display }} Items...</a><br/>
        </div>
    </div>