<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 hidden-sm">
            <span ng-if="cardsCtrl.currentStatus">
                {{ cardsCtrl.currentStatus }} [ loaded {{ cardsCtrl.blocks.length }} of {{ cardsCtrl.display }} ]
            </span>
        </div>
        <div class="col-md-4 text-right">
            Display :
            <select ng-model="cardsCtrl.display" ng-options="item for item in cardsCtrl.displayOptions" ng-change="cardsCtrl.displayChanged()" ng-disabled="cardsCtrl.currentStatus">
            </select> items
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="block in cardsCtrl.blocks">
            <div class="card card-block">
                <h4 class="card-title">Block #{{ block.height }}</h4>
                <p class="card-text">
                    <em>#Transactions:</em> {{ block.tx.length }}<br />
                </p>
                <a ng-href="#/block/{{ block.hash }}" class="card-link pull-right">More</a><br/>
                <p class="text-muted text-right">
                    <small><span ng-if="block.poolInfo"><strong><a ng-href="{{ block.poolInfo.url }}">{{ block.poolInfo.poolName }}</a></strong> @</span> {{ block.time | date:'dd-MMM HH:mm' }}</small>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-10 col-sm-2">
            <a ng-href="#/cards/{{ cardsCtrl.nextBlock }}">Next {{ cardsCtrl.display }} Items...</a><br/>
        </div>
    </div>
</div>