[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

rect.chart.bg {
    fill: #f9f9f9;
    stroke: #555555;
    cursor: move;
}

svg.chart {
    fill: #555555;
}

.node {
    fill: goldenrod;
    stroke: #999999;
    stroke-width: 1px;
}

.node:hover {
    stroke: #000;
    stroke-width: 2px;
    cursor: zoom-in;
}

.node.expanded.terminal {
    fill: #555555;
}

.node.expanded {
    fill: steelblue;
}
.node.expanded:hover {
    stroke: #999999;
    stroke-width: 1px;
    cursor: default;
}

.node.initial {
    fill: maroon;
}

.link {
    stroke: #666;
    strike-width: 2px;
}